{% extends 'layout.html' %}
{% block content %}
<div class="post">
    <h1 class="post-title">{{artData.title}}</h1>
    <div class="post-meta">{{artData.addTimeObj}}<span> | </span><span class="category"><a
            href="/categories/emotion/">{{artData.category.name}}</a></span>
        <span id="busuanzi_container_page_pv" style="display: inline;"> | <span
                id="busuanzi_value_page_pv">{{artData.count}}</span><span> Hits</span></span></div>
    <a data-disqus-identifier="emotion/sin-edict.html" href="/emotion/sin-edict.html#disqus_thread"
       class="disqus-comment-count">6条评论</a>
    <div class="post-content markdown-body">
        {{artData.htmlContent | safe }}
    </div>
</div>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ artData._id | safe }}" data-title="{{ artData.title }}" data-url="http://www.houjushang.com/article/{{ artData._id | safe }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"houjushang"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endblock %}
