{{#each listData}}
    <div class="post"><h2 class="post-title"><a href="/emotion/windy.html">{{title}}</a></h2>
        <div class="post-meta">2015年12月22日</div>
        <a data-disqus-identifier="emotion/windy.html" href="/emotion/windy.html#disqus_thread"
           class="disqus-comment-count">11条评论</a>
        <div class="post-content">
            一首二十多年前的老歌，不知道算不算得上天后的一首遗珠之作。张宇的谱曲一如既往地极具记忆点，但更精彩的无疑是歌词，尽管是用粤语演唱——通篇没有一句喜欢和爱恋，却讲述出一段最美的真情和遗憾的结局。仔细听完后你会发现，若把它用心地唱给故人，将是多么动人。
        </div>
        <p class="readmore"><a href="/emotion/windy.html">阅读更多</a></p></div>
{{/each}}