<div class="addCategory form-horizontal">
    <div class="form-group col-sm-12">
        <div class="col-sm-1 control-label">个人头像</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="个人头像" ng-model="info.img">
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <div class="col-sm-1 control-label">个人签名</div>
        <div class="col-sm-6">
            <textarea placeholder="description" class="form-control" ng-model="info.name"></textarea>
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <div class="col-sm-1 control-label">个人名言</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="" ng-model="info.wisdom">
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <div class="col-sm-1 control-label">个人简介</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="" ng-model="info.introduction">
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <div class="col-sm-1 control-label">微博地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="" ng-model="info.weibo">
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <div class="col-sm-1 control-label">gitHub</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="" ng-model="info.github">
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <div class="col-sm-1 control-label">邮箱地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="" ng-model="info.emali">
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <button type="submit" class="btn btn-default pull-right" ng-click="submit()">submit</button>
    </div>
</div>
