<div class="addCategory">
    <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="title" ng-model="title">
    </div>
    <div class="col-sm-2">
        <input name="content" class="form-control" placeholder="tag" ng-model="tag"/>
    </div>
    <div class="col-sm-2">
        <input name="content" class="form-control" placeholder="recommend" ng-model="recommend"/>
    </div>
    <div class="col-sm-12">
        <textarea name="content" class="form-control" placeholder="content" ng-model="content"
                  style="display: block; width: 100%; height: 200px;"></textarea>
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-default" ng-click="submit()">submit</button>
    </div>
    <section style="clear: both">
        <marked ng-bind-html="content">
        </marked>
    </section>

</div>